@tailwind base;
@tailwind components;
@tailwind utilities;

.font-archivo {
  font-family: "Archivo", sans-serif;
}

html {
  scroll-behavior: smooth !important;
  font-family: "Archivo", sans-serif;
  color: #2c2c2c;
}

#projects div {
  scroll-margin-top: 6rem;
}

@layer base {
  body {
    @apply bg-[#f8f8f8] text-[#2c2c2c] tracking-wide;
  }
}

.leading-verytight {
  line-height: 0.725;
}

.font-stroke-sm {
  color: #f8f8f8;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #2c2c2c;
}

.font-stroke-md {
  color: #f8f8f8;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #2c2c2c;
}

.font-stroke-lg {
  color: #f8f8f8;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2c2c2c;
}
